node_modules
.next
out
build
.env
.env.local
.env.production
*.log
.DS_Store
next-env.d.ts
*.tsbuildinfo
.vercel
/src/generated/prisma
/public/uploads
.open-next
.wrangler
.dev.vars
kolahland-project-complete.zip
